* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    background-image: url('https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    max-height: 50vh;
    /* opacity: 0.7; */
    display: grid;
}

.flex {
    display: flex;
}

.container {
    margin-left: 25rem;
    margin-top: 7rem;
    border: 1px solid black;
    width: 31rem;
    height: 22rem;
    background-color: white;
    box-shadow: 0 0 30px black,
        0 0 20px gray,
        0 0 20px rgb(235, 218, 218);
}

.container img {
    /* height:70%; */
    height: 13rem;
    width: 15rem;
    margin-top: 2rem;
    opacity: 1;
    transition: transform 600ms;
}

.container img:hover {
    transform: scale(1.2);

}

.container content {
    width: 58%;
}

.content {
    margin-top: 1rem;
    display: block;
}

.margin-1 {
    margin-top: 5px;
    margin-right: 1rem;
}

/* -----------------  social media icon  ------------------------------ */
ul {
    position: relative;
    display: flex;
    /* margin-top: 1rem; */
    margin: 0.5rem 7rem;
}

ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
}

ul li a .fa-brands {
    font-size: 3rem;
    color: #222;
}

ul li::before {
    font-family: "FontAwesome";
    position: absolute;
    top: -1px;
    left: 0;
    font-size: 3rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

ul li:nth-child(1)::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2346 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
}

ul li:nth-child(2)::before {
    content: "\f232";
    color: #25D366;
    border-bottom: 4px solid #25D366;
}

ul li:nth-child(3)::before {
    content: "\f08c";
    color: #2b0aa5;
    border-bottom: 4px solid #2b0aa5;
}

ul li:hover::before {
    height: 100%;
}

.icon {
    display: flex;
    margin: -1rem 7.3rem;
}

.icon li {
    list-style: none;
    margin: 10px;

}

.icon li a {
    text-decoration: none;
}

.icon li a .red {
    color: red;
}

.icon li a .red {
    color: green;
}
